.cabeceraPrincipal{

text-align: center;
margin: 0 auto;
}
.cabecera{
    text-align: center;
    background-color: rgb(185, 82, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}